/***************************  Only for Canvas ***************************/
@media only screen and (max-width: 820px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media (max-width: 1260px) {
    .winScreenContainer .btnContainer {
        justify-content: space-between;
        flex-direction: row;
    }

    .btnRestart {
        margin-bottom: 0px;
    }

    .winScreenContainerFullScreen h2 {
        padding-top: 300px;
    }
}

@media (max-width: 850px) {
    .winScreenContainerFullScreen h2 {
        padding-top: 350px;
    }
}


@media (max-width: 690px) {

    .audioToggleIcon {
        width: 40px;
        height: 40px;
        right: 60px;
    }

    .enterFullscreenIcon {
        width: 30px;
        height: 30px;
    }

    .exitFullscreenIcon {
        width: 30px;
        height: 30px;
    }

    .btnMobile {
        width: 35px;
        height: 35px;
    }

    .positionAbsoluteLeft {
        bottom: 7px;
    }

    .positionAbsoluteRight {
        bottom: 7px;
    }
}


@media (max-width: 620px) {
    .winScreenContainerFullScreen h2 {
        padding-top: 380px;
    }
}


@media (max-width: 550px) {

    .audioToggleIcon {
        width: 30px;
        height: 30px;
        right: 45px;
    }

    .enterFullscreenIcon {
        width: 22px;
        height: 22px;
        right: 12px;
    }

    .exitFullscreenIcon {
        width: 25px;
        height: 25px;
        right: 12px;
    }

    .btnMobile {
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .positionAbsoluteLeft, .positionAbsoluteRight {
        bottom: 4px;
    }

    .winScreenContainerFullScreen h2 {
        font-size: 30px;
    }

    .btnMainMenu {
        width: 150px;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .btnRestart {
        width: 150px;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width: 450px) {

    .audioToggleIcon {
        width: 25px;
        height: 25px;
        right: 43px;
    }

    .enterFullscreenIcon {
        width: 19px;
        height: 19px;
        right: 10px;
    }

    .exitFullscreenIcon {
        width: 22px;
        height: 22px;
        right: 10px;
    }

    .btnMobile {
        width: 25px;
        height: 25px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .positionAbsoluteLeft, .positionAbsoluteRight {
        bottom: 2px;
    }
}


@media (max-width: 370px) {

    .audioToggleIcon {
        width: 20px;
        height: 20px;
        right: 32px;
    }

    .enterFullscreenIcon {
        width: 15px;
        height: 15px;
        right: 10px;
        top: 12px;
    }

    .exitFullscreenIcon {
        width: 20px;
        height: 20px;
        right: 10px;
        top: 12px;
    }

    .btnMobile {
        width: 20px;
        height: 20px;
    }

    .positionAbsoluteLeft, .positionAbsoluteRight {
        bottom: 0;
    }
}


@media (max-width: 300px) {

    .audioToggleIcon {
        width: 15px;
        height: 15px;
        right: 32px;
    }

    .enterFullscreenIcon {
        width: 12px;
        height: 12px;
        right: 10px;
        top: 11px;
    }

    .exitFullscreenIcon {
        width: 17px;
        height: 17px;
        right: 10px;
        top: 11px;
    }

    .btnMobile {
        width: 15px;
        height: 15px;
        padding-left: 4px;
        padding-right: 4px;
    }
}


@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

/***************************  Only for Canvas ***************************/


/***************************  Only for Start Screen ***************************/
@media (max-height: 480px) {
    .startScreen {
        height: 100vh !important;
    }

    h1 {
        display: none;
    }
}


@media (max-width: 820px) {
    .startScreen {
        width: 100%;
        height: 100%;
    }

    h1 {
        display: none;
    }
}


@media (max-height: 555px) {
    .infoForTheSmartphonDiv {
        display: none;
    }
}


@media (min-width: 819px) {
    .infoForTheSmartphonDiv {
        display: none;
    }
}


@media (max-width: 500px) {
    .btnPlay {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 12px;
        right: 73px;
    }

    .steeringIcon {
        width: 35px;
        height: 25px;
        position: absolute;
        top: 13px;
        right: 20px;
    }

}


@media (max-width: 390px) {
    .btnPlay {
        width: 26px;
        height: 26px;
        top: 12px;
        right: 69px;
    }

    .steeringIcon {
        width: 32px;
        height: 23px;
        top: 11px;
        right: 18px;
    }
}


@media (max-width: 330px) {
    .btnPlay {
        width: 20px;
        height: 20px;
        right: 55px;
        top: 13px;
    }

    .steeringIcon {
        width: 25px;
        height: 20px;
        right: 15px;
        top: 12px;
    }
}

/***************************  Only for Start Screen ***************************/


/****************************  Only for Gameover Screen ****************************/
@media (max-height: 480px) {
    .gameOverScreen {
        height: 100vh !important;
    }
}


@media (max-width: 820px) {
    .gameOverScreen {
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 600px) {
    .btnMainMenu, .btnRestart {
        width: 200px;
    }
}


@media (max-width: 470px) {
    .btnContainer {
        margin-top: -45px;
    }

    .btnMainMenu, .btnRestart {
        width: 170px;
        height: 40px;
        font-size: 17px;
    }
}


@media (max-width: 390px) {
    .btnContainer {
        margin-top: -37px;
    }

    .btnMainMenu, .btnRestart {
        width: 140px;
        font-size: 12px;
        height: 32px;
    }
}


@media (max-width: 320px) {
    .btnMainMenu, .btnRestart {
        width: 100px;
        font-size: 9px;
    }
}

/****************************  Only for Gameover Screen ****************************/


/****************************  Only for Win Screen ****************************/
@media (max-width: 820px) {
    .winScreenContainer {
        width: 100vw;
    }
}


@media (max-width: 470px) {
    .winScreenContainer h2 {
        font-size: 30px;
    }

    .imgTrophyContainer img {
        width: 240px;
    }

    .winScreenContainer .btnContainer {
        margin-top: 135px;
    }
}


@media (max-width: 390px) {
    .winScreenContainer h2 {
        font-size: 25px;
    }

    .imgTrophyContainer img {
        padding-top: 55px;
    }

    .winScreenContainer .btnContainer {
        margin-top: 116px;
    }
}


@media (max-width: 320px) {
    .winScreenContainer h2 {
        font-size: 20px;
    }

    .imgTrophyContainer img {
        width: 135px;
        padding-top: 80px;
    }

    .winScreenContainer .btnContainer {
        margin-top: 137px;
    }

    .btnMainMenu, .btnRestart {
        width: 116px;
        font-size: 9px;
        height: 30px;
    }
}

/****************************  Only for Win Screen ****************************/


/****************************  Only for Steering Menu ****************************/
@media (max-width: 820px) {
    .containerGameControlls {
        width: 100%;
    }
}


@media (max-width: 700px) {
    .infoText {
        font-size: 20px;
    }
}


@media (max-width: 570px) {
    .keyboardButton {
        padding-right: 100px;
    }

    .keyboardIcon {
        padding-left: 100px;
    }
}


@media (max-width: 500px) {
    .arrowBack {
        left: 25px;
    }

    .keyboardButton {
        padding-right: 80px;
    }

    .keyboardIcon {
        padding-left: 80px;
    }
}


@media (max-width: 470px) {
    .containerGameControlls h2 {
        font-size: 30px;
    }

    .arrowBack {
        width: 35px;
        height: 35px;
    }

    .keyboardButton {
        padding-right: 60px;
    }

    .keyboardIcon {
        padding-left: 60px;
    }
}


@media (max-width: 420px) {
    .containerGameControlls h2 {
        font-size: 25px;
    }

    .arrowBack {
        top: 25px;
        width: 30px;
        height: 30px;
    }

    .keyboardButton {
        padding-right: 40px;
        width: 40px;
        height: 40px;
    }

    .keyboardIcon {
        padding-left: 40px;
        font-size: 22px;
    }
}


@media (max-width: 360px) {
    .containerGameControlls h2 {
        margin-bottom: 40px;
    }

    .keyboardButton {
        padding-right: 30px;
    }

    .keyboardIcon {
        padding-left: 30px;
    }
}


@media (max-width: 345px) {
    .containerGameControlls h2 {
        font-size: 20px;

    }

    .arrowBack {
        top: 23px;
        width: 25px;
        height: 25px;
    }

    .keyboardButton {
        padding-right: 25px;
        margin-bottom: 10px;
        margin-top: 22px;
        width: 35px;
        height: 35px
    }

    .keyboardIcon {
        padding-left: 25px;
        font-size: 20px;
    }
}


@media (max-width: 310px) {
    .containerGameControlls h2 {
        font-size: 18px;

    }

    .arrowBack {
        width: 20px;
        height: 20px;
    }

    .keyboardButton {
        width: 30px;
        height: 30px
    }

    .keyboardIcon {
        font-size: 18px;
    }
}

/****************************  Only for Steering Menu ****************************/


/****************************  Only for Game Description Menu ****************************/
@media (max-width: 820px) {
    .containerGameDescription {
        width: 100%;
    }
}


@media (max-width: 640px) {
    .containerGameDescription h2 {
        font-size: 30px;
    }

    .arrowBack {
        left: 65px;
        width: 35px;
        height: 35px;
    }

    .containerGameDescription span {
        font-size: 16px;
    }
}


@media (max-width: 570px) {
    .containerGameDescription h2 {
        font-size: 25px;
    }

    .arrowBack {
        top: 25px;
        left: 75px;
        width: 30px;
        height: 30px;
    }

    .containerGameDescription span {
        font-size: 15px;
    }
}


@media (max-width: 525px) {
    .arrowBack {
        left: 45px;
    }

    .containerGameDescription span {
        font-size: 14px;
    }
}


@media (max-width: 490px) {
    .arrowBack {
        top: 25px;
        width: 25px;
        height: 25px
    }

    .containerGameDescription h2 {
        font-size: 23px;
    }

    .containerGameDescription span {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 450px) {
    .arrowBack {
        top: 22px;
        left: 45px;
        width: 23px;
        height: 23px;
    }

    .containerGameDescription h2 {
        font-size: 20px;
    }
}


@media (max-width: 415px) {
    .containerGameDescription span {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width: 370px) {
    .arrowBack {
        top: 22px;
        left: 40px;
        width: 20px;
        height: 20px;
    }

    .containerGameDescription h2 {
        font-size: 18px;
    }
}


@media (max-width: 345px) {
    .arrowBack {
        left: 25px;
    }
}


@media (max-width: 310px) {
    .arrowBack {
        top: 22px;
        width: 18px;
        height: 18px;
    }

    .containerGameDescription h2 {
        font-size: 17px;
    }

    .containerGameDescription span {
        font-size: 13px;
    }
}


@media (max-width: 280px) {
    .arrowBack {
        left: 18px;
    }

    .containerGameDescription h2 {
        font-size: 16px;
    }
}

/****************************  Only for Game Description Menu ****************************/


/****************************  Only for Loading Screen ****************************/
@media (max-height: 595px) {
    .loadingScreenContainer {
        height: 100%;
    }

    h1 {
        display: none;
    }
}


@media (max-width: 820px) {
    .loadingScreenContainer {
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 540px) {
    .loadingScreenContainer h2 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .loadingScreenContainer img {
        width: 45px;
        height: 45px;
    }
}


@media (max-width: 450px) {
    .loadingScreenContainer h2 {
        font-size: 35px;
        margin-bottom: 17px;
        padding-right: 15px;
    }

    .loadingScreenContainer img {
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 325px) {
    .loadingScreenContainer h2 {
        font-size: 25px;
        margin-bottom: 13px;
        padding-right: 12px;
    }

    .loadingScreenContainer img {
        width: 25px;
        height: 25px;
    }
}

/****************************  Only for Loading Screen ****************************/